<?xml version="1.0"?>
<model>
  <name>person_simple</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Wil</name>
    <email>student@lab.local</email>
  </author>
  <description>
    Simple geometric person w hi viz for depth camer test for Gazebo Classic.
  </description>
</model>

