<?xml version="1.0"?>
<model>
  <name>depth_cam</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Depth Follower</name>
    <email>student@example.com</email>
  </author>
  <description>
    Simple simulated depth camera sensor for TurtleBot follower project.
  </description>
</model>

